<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwinjectMVVMExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6091B8A31BA60EDD00C6F179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6091B8B71BA60EDD00C6F179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6091B8CB1BA60F3400C6F179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6091B8D41BA60F3400C6F179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6091B8EE1BA60F5100C6F179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6091B8F71BA60F5100C6F179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6091B9101BA60F6500C6F179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6091B9191BA60F6500C6F179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
